<div class="my-5">
    <div class="spinner-border text-primary" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    <h3 class="mb-3">{{contact.nom}} {{contact.prenom}}</h3>
    <ul>
        <li>Date de naissance : {{contact.dateDeNaissance | date:'dd/MM/yy'}}</li>
        <li>Département : {{contact.departement}}</li>
        <li>Téléphone : {{contact.telephone}}</li>
        <li>e-mail : {{contact.email}}</li>
        <li>Commentaire : {{contact.note}}</li>
    </ul>
</div>
