<div class="row my-5">
    <div class="col-lg-6">
        <h3>Liste des Contacts</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-right" [routerLink]="['ajouter']">Ajouter un contact</button>
    </div>
    <div class="spinner-border text-primary" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<div>
    <table class="table table-sm table-hover">
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>e-mail</th>
            <th>Département</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let contact of listContacts">
                <td><a [routerLink]="['/voir/', contact.id]">{{contact.nom}}</a></td>
                <td>{{contact.prenom}}</td>
                <td>{{contact.telephone }}</td>
                <td>{{contact.email }}</td>
                <td>{{contact.departement}}</td>
                <td>
                    <button class="btn btn-primary btn-sm float-right" [routerLink]="['/editer/', contact.id]">Éditer</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm float-right" (click)="delete(contact.id)">Effacer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
